<ul>
<li *ngFor="let item of userdata">
    ID : {{item.id}}<br>
    Username : {{item.username}}<br>
    Email : {{item.email}}<br>
    Phone : {{item.phone}}<br>
    Website : {{item.website}}<br>
    <br>
<app-address [addressdata]="item.address"></app-address>
<br>
<app-company [companydata]="item.company"></app-company>
<br><br>
</li>
</ul> 

<!-- 
public id: number,
        public name: string ,
        public username: string ,
        public email: string ,
        public address: Address,
        public phone: string,
        public website: string ,
        public company: Company -->