
<div class="form-container">
Search Parameters :
<form>

<input type="radio" [formControl]="parameter" name="parameter" id="userid" value="userid">
<label for="userid">UserId </label>

<input type="radio" [formControl]="parameter" name="parameter" id="id" value="id">
<label for="id">Id </label>

<input type="radio" [formControl]="parameter" name="parameter" value="title">
<label for="title">Title </label>

<input type="radio" [formControl]="parameter" name="parameter" value="completed">
<label for="other">Completed Status</label>

<br>

<input type="text" placeholder="search..." id="search" [formControl]="searchField">
<br><br>
</form>
</div>
